:root {
    --primaryColor: #FAFAFA;
    --secondaryColor: #2A2D34;
}
body {
    margin: 0em;
    padding: 0em;
    background-image: url('assets/background/cool-background.png'); background-repeat: no-repeat; background-position: center;
    background-size: cover;
}
main {
    height: 100vh;
}
article {
    height: 50%;
}
footer {
    position: relative; top: 16.5em;
    height: 85vh;
    background-color: var(--primaryColor);
}
img {
    height: 100%; width: 100%;
}

.custom-shape-divider-top-1643660103 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-top-1643660103 svg {
    position: relative;
    display: block;
    width: calc(191% + 1.3px);
    height: 225px;
}
.custom-shape-divider-top-1643660103 .shape-fill {
    fill: #FAFAFA;
}

#headerContainer {
    display: flex; justify-content: flex-end;
    width: 100%;
    padding: 0.5em 0em;
}
#headerContainer > * {
    height: 1.5em;
    margin: 0.6em 1.5em;
    transition: all 0.5s;
}
#headerContainer > *:hover {
    transform: scale(1.1);
}

article > * {
    color: var(--primaryColor);
}
#articleContainer1 {
    height: 100%; width: 100%;
    display: flex; justify-content: center;
}
#articleContainer1 > * {
    align-self: center;
    position: relative; bottom: 0em;
    margin: 0em 0.15em;
    font-family: monospace; font-size: 2em;
}

#articleContainer2 {
    display: flex; justify-content: center;
}
#myName {
    align-self: center;
    font-family: monospace; font-size: 3em;
    position: relative; bottom: 3.45em;
}

.custom-shape-divider-bottom-1644347038 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1644347038 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
}

.custom-shape-divider-bottom-1644347038 .shape-fill {
    fill: #FAFAFA;
}

#footerContainer1 {
    height: 30em;
    margin: 0em 3em;
}